<div ng-controller="app.views.home as vm">
    <div class="row">
        <div class="col-md-12">
            <h4>截止到目前，今天已经给 张三上课 8：00-9：00，李四上课 11：00-12：00  <br />合计上课两个小时</h4>
        </div>
        <div class="col-md-12">
            <h3>今日课表：</h3>
        </div>
        </div>
</div>