@using CourseManager.Common
@{
    ViewBag.Title = L("PayCalculation");
    var now = DateTime.Now;
}
@section Styles{
    <link href="~/Assets/libsReference/jquery.datetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
    <style>
        #container {
            min-height: 660px;
        }

        .salary {
            width: 100%;
            min-height: 600px;
            margin-top: 20px;
            clear: both;
        }

            .salary h3 {
                line-height: 30px;
                position: relative;
                margin: 0px 15% 20px 15%;
                font-weight: bold;
                color: red;
                font-size: 16px;
            }

        .lead h3:before {
            position: relative;
            padding-left: 15px;
            margin-left: 20px;
            margin-bottom: 40px;
            color: red;
            font-size: 15px;
        }

        label {
            position: relative;
            padding-right: 10px;
            text-align: right;
            font-weight: bold;
        }
        /*.label-special {
            display: block;
            font-weight: normal;
        }*/
        .form-control {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 10px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }

        .form-group {
            height: 34px;
            margin-bottom: 30px;
        }

        .input-only-bottom {
            /*word-break:break-all;*/
                border: none;
            color: red;
            font-family: "方正";
            font-size: 16px;
            border-bottom: 1px solid #ccc !important;
            resize: none;
            box-shadow: none;
        }
        .extraSalary{
          /*height:auto;*/
          overflow:auto;
        } 
        .specialStyle {
            display: flex;
        }

        .cf {
            zoom: 1;
        }
        .container {
            margin: 0 auto;
            /*max-width: 1024px;*/
            padding: 0 20px;
        }
        .headline {
            margin: 2em 0 0 0;
            text-align: left;
        }
        img.hero-illustration {
            height: auto;
            max-width: 100%;
        }

        p.lead {
            font-size: 1.38em;
            line-height: 1.6em;
            font-weight: 300;
            color: #354953;
        }
        #TeacherName, .datetime {
            max-width: 135px;
        }
    </style>
}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-md-push-6 visible-sm-6">
            <div class="hero">
                <img class="hero-illustration" src="~/Assets/images/pay.png" width="460" height="319">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-md-pull-6">
            <div class="headline">
                <!-- <h1>Shipping has never been easier.</h1> -->
                <p class="lead fa fa-star">1.早上七点半的课视为早课，晚上七点开始的课程视为晚课;<br />
                2. 底薪：20小时以下2000元，20小时～40小时3000元，40以上4000元;<br/>
                3.如果学生经常请假未达到当月课时的80%，少了的那部分课时需要按合同80%支付;<br />
                4.如果没有满70个小时 那么相关补贴都会没有;社保另算不列入统计;<br />
                5.工资计算公式：基础工资+全勤奖+早晚课补贴+外派补贴+续学补贴+学生请假折扣学费=工资@*<strong>your application.</strong>*@
                </p>
            </div>
        </div>
    </div>
</div>
<div id="container">
    <form id="queryForm">
        <div class="form-inline" style="margin:20px 0 20px 12%;">
            <div class="form-group">
                <label class="" for="">老师姓名：</label>
                <input type="text" name="TeacherName" placeholder="中/英（唯一）" class="form-control input-sm" id="TeacherName">
            </div>
            <div class="form-group">
                @*页面首次加载的时候获取当月开始到当前时间的所有课时*@
                <label class="" for="">开始时间：</label>
                <input type="text" class="form-control input-sm datetime" value="@CalendarHelper.FirstDayOfMonth(now).ToString("yyyy-MM-dd")" name="BeginTime" id="BeginTime">
            </div>
            <div class="form-group">
                <label class="" for="">结束时间：</label>
                <input type="text" class="form-control input-sm datetime" value="@now.ToString("yyyy-MM-dd")" name="EndTime" id="EndTime">
            </div>
            <input type="button" id="btnSearch" class="btn btn-sm btn-primary" value="搜索">
        </div>
    </form>
    @*工资明细*@
    <div id="pay-calculation" class="salary cf">
        @*<h3 class="fa fa-star">1.早上七点半的课视为早课，晚上七点开始的课程视为晚课;2. 底薪：20小时以下2000元，20小时～40小时3000元，40以上4000元;3.如果学生经常请假未达到当月课时的80%，少了的那部分课时需要按合同80%支付;4.如果没有满70个小时 那么相关补贴都会没有;社保另算不列入统计</h3>*@
        @*<div class="info cf">*@
        <div class="col-lg-5">
            <div class="form-group cf">
                <label class="col-sm-6">姓名（中文）：<i></i></label>
                <div class="col-sm-6">
                    <input type="text" name="ShowTeacherName"  id="ShowTeacherName" value="" class="form-control input-only-bottom">
                </div>
            </div>
            <div class="form-group cf">
                <label class="col-sm-6" for="">基本工资(当前月课时超过40个课时)：</label>
                <div class="col-sm-6">
                    <input type="text" name="BasicSalary" value="4000" class="form-control input-sm input-only-bottom" id="BasicSalary">
                </div>
            </div>
            <div class="form-group cf">
                <label class="col-sm-6" for="">全勤奖金：</label>
                <div class="col-sm-6">
                    <input type="text" name="AllOfficeHoursSalary" class="form-control input-sm input-only-bottom" id="AllOfficeHoursSalary">
                </div>
            </div>
            <div class="form-group cf">
                <label class="col-sm-6" for="">总课时：</label>
                <div class="col-sm-6">
                    <input type="text" name="TotalClassHours" class="form-control input-sm input-only-bottom" id="TotalClassHours">
                </div>
            </div>
            <div class="form-group cf">

                <label class="col-sm-6" for="">1对1课时费（次数 X 50元）：</label>
                <div class="col-sm-6">
                    <input type="text" name="One2OneFee" class="form-control input-sm input-only-bottom" id="One2OneFee">
                </div>

            </div>
            <div class="form-group cf">
                <label class="col-sm-6" for="">班级课时费（次数 X 70元）：</label>
                <div class="col-sm-6">
                    <input type="text" name="ClassFee" class="form-control input-sm input-only-bottom" id="ClassFee">
                </div>
            </div>

        </div>

        <div class="col-lg-5">
            <div class="form-group cf">
                <label class="col-sm-6" for="">续学人数：</label>
                <div class="col-sm-6">
                    <input type="text" name="RenewNum" placeholder="1对1的学生一个月满15个小时 视为续学" class="form-control input-sm input-only-bottom" id="RenewNum">
                </div>
            </div>

            <div class="form-group cf">
                <label class="col-sm-6" for="">续学奖金(续学人数 X 25元)：</label>
                <div class="col-sm-6">
                    <input type="text" name="RenewFee" class="form-control input-sm input-only-bottom" id="RenewFee">
                </div>
            </div>
            <div class="form-group cf">
                <label class="col-sm-6" for="">早晚课次数：</label>
                <div class="col-sm-6">
                    <input type="text" name="EarlyLateNum" class="form-control input-sm input-only-bottom" id="EarlyLateNum">
                </div>
            </div>
            <div class="form-group cf">
                <label class="col-sm-6" for="">早晚课补助（早晚课次数 X 5元）：</label>
                <div class="col-sm-6">
                    <input type="text" name="EarlyLateBonus" class="form-control input-sm input-only-bottom" id="EarlyLateBonus">
                </div>
            </div>
            <div class="form-group cf">
                <label class="col-sm-6" for="">外派次数：</label>
                <div class="col-sm-6">
                    <input type="text" name="AssignmentTimes" class="form-control input-sm input-only-bottom" id="AssignmentTimes">
                </div>
            </div>
            <div class="form-group cf">
                <label class="col-sm-6" for="">外派补助（排课为外派的课 X 10元）：</label>
                <div class="col-sm-6">
                    <input type="text" name="AssignmentBonus" class="form-control input-sm input-only-bottom" id="AssignmentBonus">
                </div>
            </div>
           
        </div>
        <div class="col-lg-10 form-group cf" >
            <label class="col-sm-3" for="">学生请假（未到到80%应上课时）：</label>
            <div class="col-sm-9">
                <textarea name="ExtraSalary"  class="form-control input-only-bottom extraSalary" id="ExtraSalary"></textarea>
                @*<input type="text" name="ExtraSalary" class="form-control input-sm input-only-bottom" id="ExtraSalary">*@
            </div>
        </div>
        <div style="height:34px;"> </div>
        <div class="col-lg-10 form-group">
            <label class="col-sm-3" for="">合计：</label>
            <div class="col-sm-9">
                <textarea name="TotalSalary" class="form-control input-only-bottom" id="TotalSalary"></textarea>
                @*<input type="text" name="TotalSalary" placeholder="综合以上各项统计结果" class="form-control input-sm input-only-bottom" id="TotalSalary">*@
            </div>
        </div>
    </div>



</div>
@section Scripts{
    <script src="~/Assets/libsReference/jquery.datetimepicker/jquery.datetimepicker.js"></script>
    <script src="~/Assets/js/dateTimeUtil.js"></script>
    <script src="~/Views/PayCalculation/PayCalculation.js"></script>

    <script type="text/javascript">
        $(function () {
            Bk.PayCalculation.bootstrap();
        })
    </script>
}
