<div  ng-controller="app.views.teacherClassHourStatistics.index as vm" id="container" >
    @*<h1>老师课时统计</h1>*@
    <my-chart config='Data.chartConfig'></my-chart>
</div>

@*highCharts cdn*@
@*<script src="https://cdn.hcharts.cn/highcharts/highcharts.js"></script>*@
<script src="~/App/Main/views/directives/myChart.js"></script>