@{
    ViewBag.Title = "(DataImport Manager)系统数据导入管理页";
}
@section Styles{
    <link href="/Assets/libsReference/layui/css/layui.css" rel="stylesheet" />
    <link href="/Assets/libsReference/layertable/layer.table.css" rel="stylesheet" />
    <link href="/Assets/libsReference/uploadify/uploadify.css" rel="stylesheet" />
    <link href="/Assets/libsReference/layertable/layer.upload.css" rel="stylesheet" />
    <style type="text/css">
        .template-position {
            margin: 20px;
            padding: 15px;
            font-size: 14px;
            font-family: "微软雅黑";
            color: #666;
        }
    </style>
}
<div class="admin-main">
    <form id="studentCourseArrange-form" action="/Import/ImportStudentCourseArrangeToDB" method="post" class="layui-form">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">导入学生排课</label>
            <div class="layui-input-block">
                <div class="Template">
                    <div class="uploadingImg">
                        <div class="uploadify">
                            <div class="site-demo-upbar">
                                <div class="layui-box layui-upload-button">
                                    <input type="file" name="pathList" class="layui-upload-file" id="studentCourseArrange-upload" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                    <span class="layui-upload-icon"><i class="layui-icon"></i>上传文件</span>
                                </div><span class="fontTip img-tips" style="color:red;">说明：选择符合给定的Excel模板格式数据导入操作(请不要重复导入！)</span>
                            </div>
                        </div>
                    </div>
                    <div class="allImg cf">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" id="studentCourseArrange" lay-filter="studentCourseArrange-form">导入到数据库</button>
            </div>
        </div>
    </form>
</div>

<script src="~/Scripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/Assets/libsReference/layui/layui.js"></script>
<script type="text/javascript" src="/Assets/js/bootstrap.tool.js"></script>
<script type="text/javascript" src="/Assets/libsReference/layertable/layer.upload.js"></script>
<script>
    layui.config({
        base: '../../Assets/js/lay_ext/'
    });

    layui.use(['layer', 'form'], function () {
        //下面是全局变量
        layerTips = parent.layer === undefined ? layui.layer : parent.layer, //获取父窗口的layer对象
            form = layui.form(),
            layer = layui.layer;//获取当前窗口的layer对象
        //初始化列表
        ImportHandler.init();
    });

    var ImportHandler = {
        init: function () {
            this.initUpload();
            this.event();
        },
        event: function () {
            form.on("submit(studentCourseArrange-form)", function (data) {
                var actionUrl = $(data.form).attr("action");
                var postData = $(data.form).serializeJson();
                $.ajax({
                    type: "POST",
                    url: actionUrl,
                    data: postData,
                    dataType: "json",
                    success: function (d) {
                        console.info(d)
                        if (d.success) {
                            layer.msg(d.result.msg);
                        } else {
                            layer.msg("保存异常!");
                        }
                    }, error: function (d) { layer.msg("保存异常!") }
                });
                return false;
            })
        },
        initUpload: function () {
            //
            BootStrap.Uploadify.init("studentCourseArrange-upload", {
                multi: false,
                fileTypeExts: 'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
                buttonText: '上传学生排课Excel',
                maxSize: 15,//单位是MB
                onSuccess: function (file, data) {
                    console.log(data);
                }
            });
        }
    };
</script>

