@{
    Layout = null;
}
<!-- footer外包裹一层div-->
<div>
    <!--充当占位符的div块，无实质内容 -->
    <div style="height:96px;"></div>

    <!--fixed悬浮出来的footer -->
    <div id="footer">
        <div class="copyRight clearfix"><p>CopyRight @@2017-2030 本站版权归贝课教育培训公司所有 <b>粤ICP备1298789x1号</b></p></div>
    </div>
</div>

